.App {
  text-align: center;
  margin: 2px auto;
}
body{
    background-image: url('https://img.freepik.com/free-vector/blur-coronavirus-2019-ncov-white-background-medical-healthcare-microbiology-concept-design-covid-19-outbreaking_34926-393.jpg?size=626&ext=jpg'); 
    background-position: center;
   background-attachment: fixed;
   background-size: cover;
   opacity: 0.ppx;
   height: 105vh;
   }

h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  font-weight: bolder;
}